<ul class="<%= classes %>">
    <li>
        <a href="<%= theme.socials.facebook %>" target="_blank">
            <i class="icon facebook-white"></i>
        </a>
    </li>

    <li>
        <a href="<%= theme.socials.vkontakte %>" target="_blank">
            <i class="icon vkontakte-white"></i>
        </a>
    </li>

    <li>
        <a href="<%= theme.socials.soundcloud %>" target="_blank">
            <i class="icon soundcloud-white"></i>
        </a>
    </li>

    <li>
        <a href="<%= theme.socials.lastfm %>" target="_blank">
            <i class="icon lastfm-white"></i>
        </a>
    </li>

    <li>
        <a href="<%= theme.socials.bandcamp %>" target="_blank">
            <i class="icon bandcamp-white"></i>
        </a>
    </li>
</ul>